.budgeting-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px;
}
#emojis {
    font-size: 30px;
    margin-bottom: 10px;
}

#container {
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: space-between;
    flex-grow: 1;
    padding: 10px;
}

#left-card {
    border: orange 5px solid;
    border-radius: 20px;    
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
}

#right-card {
    border: orange 5px solid;
    border-radius: 20px;    
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
}

#income-form-card {
    border: orange 5px solid;
    border-radius: 20px;    
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    height: fit-content;
    text-align: center;
}

#income-form-element {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.income-entry {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}